<?xml version="1.0"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Klevu\Customer\Service\Provider\CustomerIdProviderInterface"
                type="Klevu\Customer\Service\Provider\CustomerIdProvider"/>

    <preference for="Klevu\Customer\Service\Provider\CustomerSessionProviderInterface"
                type="Klevu\Customer\Service\Provider\CustomerSessionProvider"/>

    <preference for="Klevu\Customer\Service\Provider\GroupProviderInterface"
                type="Klevu\Customer\Service\Provider\GroupProvider"/>

</config>
